USE [master]
GO
/****** Object:  Database [AlADNANA]    Script Date: 7/2/2024 3:33:08 AM ******/
CREATE DATABASE [AlADNANA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlADNANA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AlADNANA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlADNANA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AlADNANA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlADNANA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlADNANA]
GO
/****** Object:  Table [dbo].[RowColors]    Script Date: 7/2/2024 3:33:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RowColors](
	[RowColorId] [int] IDENTITY(1,1) NOT NULL,
	[TableDataId] [int] NOT NULL,
	[Color] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RowColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecTable]    Script Date: 7/2/2024 3:33:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[Nationality] [nvarchar](max) NULL,
	[DateOfBirth] [nvarchar](max) NULL,
	[PassportNumber] [nvarchar](max) NULL,
	[ExpirationDate] [nvarchar](max) NULL,
	[ApprovalNumber] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableData]    Script Date: 7/2/2024 3:33:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Nationality] [nvarchar](100) NOT NULL,
	[Dob] [nvarchar](100) NOT NULL,
	[MotherName] [nvarchar](100) NOT NULL,
	[PassportNumber] [nvarchar](20) NOT NULL,
	[IssueDate] [nvarchar](100) NOT NULL,
	[ExpirationDate] [nvarchar](100) NOT NULL,
	[Embassy] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 7/2/2024 3:33:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserData] ON 

INSERT [dbo].[UserData] ([IdUser], [Email], [Password]) VALUES (1, N'khalidkoke99@gmail.com', N'khalidkoke99@gmail.com')
INSERT [dbo].[UserData] ([IdUser], [Email], [Password]) VALUES (2, N'al_3dnan@yahoo.com', N'AL2001_3dnan@yahoo.com')
SET IDENTITY_INSERT [dbo].[UserData] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserData__A9D105347D474112]    Script Date: 7/2/2024 3:33:09 AM ******/
ALTER TABLE [dbo].[UserData] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RowColors]  WITH CHECK ADD  CONSTRAINT [FK_TableDataId] FOREIGN KEY([TableDataId])
REFERENCES [dbo].[TableData] ([Id])
GO
ALTER TABLE [dbo].[RowColors] CHECK CONSTRAINT [FK_TableDataId]
GO
/****** Object:  StoredProcedure [dbo].[SaveOrUpdateRowColor]    Script Date: 7/2/2024 3:33:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SaveOrUpdateRowColor]
    @TableDataId INT,
    @Color VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM RowColors WHERE TableDataId = @TableDataId)
    BEGIN
        -- Update the existing row color
        UPDATE RowColors
        SET Color = @Color
        WHERE TableDataId = @TableDataId;
    END
    ELSE
    BEGIN
        -- Insert a new row color
        INSERT INTO RowColors (TableDataId, Color)
        VALUES (@TableDataId, @Color);
    END
END;
GO
USE [master]
GO
